{
  "extends": "airbnb-base",
  "root": true,
  "env": {
    "browser": true,
    "node": false
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "globals": {
    "$": true
  },
  "rules": {
    "strict": [
      0,
      "function"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    max-len: [
      "error",
      { "code": 120 }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "**/helpers.js"
        ]
      }
    ]
  }
}
